<head>
    <meta charset="UTF-8">
    <title>Felix Atuluku's website</title>

</head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
<body>

<h1>About Me!</h1>


<header>
    <nav>
        <ul>
            <li><a href="activity2.html>Locations</a></li>
            <li><a href="location.html>Home</a> </li>
        </ul>
    </nav>
</header>
<div id="wrapper">

      <section>
           <img class="myimage" src="IMG_4788.jpg" alt="Image" height="250" width="250"class="rotateimg180"/>
<p>I am an international student in my senior year in UNO majoring in MIS.</p>
<br>I come from a very close and tightly knit family, therefore, I respect family values and traditions.</br>
I got married in 2019 to a girl I have known since childhood, and she's definitely my best friend
<p>I love to travel and explore new places, meet new people and have a good chat.</p><br>
<p>You can check my profile and pictures on Facebook to see all the places I have been to by clicking
the following link:<a href= "https://www.facebook.com/felix.atuluku"> Felix Atuluku</a>
 </p>
In my spare time I like to read articles about history and historical events. Also, I try
watch historical reenactments.

      </section>
</div>
</body>
